@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan-webfont.eot") format("eot"),
        url("../fonts/BYekan-webfont.woff") format("woff"),
        url("../fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "BYekan";
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    direction: rtl;
}
input {
    font-family: BYekan;
}

.c-new-task {
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: rgba(156, 156, 156, 0.3);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.c-new-task__label {
    color: rgb(111, 111, 111);
}
.c-new-task__input {
    width: 240px;
    padding: .6rem;
    font-size: 1rem;
    color: rgb(130, 130, 130);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: .5rem;
}
.c-new-task__input::placeholder {
    color: #ccc;
}
.c-new-task__submit {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(26, 173, 0);
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    padding-left: .5rem;
    margin-right: .5em;
    padding-right: 0.5rem;
    border-radius: .5rem;
    transition: all .3s;
    cursor: pointer;
}
.c-new-task__submit:hover {
    background-color: rgba(105, 186, 29, 0.545);
    color: rgb(18, 123, 0);
}
.c-show-tasks {
    width: 100%;
    max-width: 720px;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: .3rem;
}
.c-show-tasks__empty {
    text-align: center;
    margin-top: 0;
}
.c-show-tasks__item {
    list-style: none;
    color: #828181;
    font-weight: bold;
    margin-bottom: .75rem;
    border-bottom: 1px solid #bcbcbc;
    padding: .75rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-show-tasks__item::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: calc(100% - 0.8rem);
    right: 0;
    background-color: #cab004;
    bottom: 0.4rem;
    border-radius: 5px;   
    transition: background-color .3s;
}
.c-show-tasks__item.is-completed::before {
    background-color: green;
}
.c-show-tasks__item--check,
.c-show-tasks__item--delete {
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s;
    border-radius: .5rem;
    margin-left: .5rem;
    width: 2.2rem;
}
.c-show-tasks__item--check {
    color: green;
}
.c-show-tasks__item--delete {
    color: red;
    font-weight: bold;
}
.c-show-tasks__item--check:hover,
.c-show-tasks__item--delete:hover {
    background-color: white;
}
.c-show-tasks__item--check:active {
    background-color: green;
    color: white;
}
.c-show-tasks__item--delete:active {
    background-color: red;
    color: white;
}

.c-about-me {
    width: 100%;
    background-color: rgba(238, 238, 238, 0.8);
    padding: 2rem;
}
.c-about-me__title {
    color: #0945be;
    width: 100%;
    text-align: center;
    margin: 0 0 1rem;
}
.c-about-me__descriptions {
    max-width: 720px;
    padding: 0 1rem;
    margin: 0 auto;
    color: #505050;
}
.c-no-match {
    margin: auto;
    padding: 3rem 1rem;
}
.c-no-match__col {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: .75rem;
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.c-no-match__col h1,
.c-no-match__col h2 {
    margin: 0 0 1rem;
}

